body{
    font-family: 'Jua', sans-serif;
    font-size:40px;
}

.grid-container > #helium > p {
    color : lightslategray;
}


.grid-container{
    display:grid;
    grid-template-rows:repeat(4,150px);
    grid-template-columns: repeat(9,150px);
    border: 1px solid black;
}

.grid-container *{
 border: 1px solid black;
}

#helium{
    grid-column:9/10;
}

.noble-gas{
    background-color:lightgreen;
}

.alkali{
    background-color: lightblue;
}

.alkaline-earth-metal{
    background: lightpink;
}

.metalloid{
    background-color:salmon;
}

.halogen{
    background-color:lightsalmon;
}

.tableclass{
    text-align:center;
    background:linear-gradient(lightpink,white);
    margin-bottom:100px;
}

h3{
    color:palevioletred;
}
table,tr,td{
    margin:auto;
    border: 10px solid green;
    border-collapse:collapse;
    box-shadow: 5px 5px 5px;
}

td{
    width: 200px;
    height: 200px;
    background-color:white;
    text-align:center;
}

